<!-- Validation : http://dotnetspeak.com/2013/05/combining-twitter-bootstrap-and-angular-validation -->
<div class="well" data-ng-controller="trackCtrl">
    <legend>Create</legend>

    <!--form data-ng-submit="add()" class="add-task">
        <input type="text"
               placeholder="What needs to be done?"
               class="form-control"
               data-ng-model="newTask"
               autofocus>
        <a type="submit" class="submit-button" data-ng-click="add()">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </form-->

    <section class="task-container" >


    <form name="createForm" novalidate role="form" class="form-horizontal">
    <!--<form name="createForm" novalidate role="form" class="form-horizontal" ng-submit="pushed()">-->
        <label>Username</label>

        <div class="form-group">
            <div class="col-md-1">
                <span class="add-on"><i class="glyphicon glyphicon-user"></i></span>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Type your username" size="30"
                       ng-model="taskData.username" id="username" required>
            </div>
        </div>

        <label>Equipment ID</label>

        <div class="form-group">
            <div class="col-md-1">
                <span class="add-on">  <i class="fa fa-truck text-normal stat-icon"></i></span>

            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="TR019" size="30"
                       ng-model="taskData.equipmentId" id="equipmentId" required>
            </div>
        </div>

<!-- text-large -->
        <!-- Set hidden attribute MEASURECODE=TONNE -->
        <label>Tonnes</label>
        <div class="form-group">
            <div class="col-md-1">
                <span class="add-on">  <i class="glyphicon glyphicon-cloud-upload  stat-icon"></i></span>

            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="45.6" size="30"
                       ng-model="taskData.measureValue" id="measureValue" value="45.5" required>
            </div>
        </div>

        <label>Source</label>
        <div class="form-group">
            <div class="col-md-1">
                <span class="add-on">  <i class="glyphicon glyphicon-resize-small  stat-icon"></i></span>

            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="ARG-N35 A106" value="ARG-N35 A106" size="30"
                       ng-model="taskData.source" id="source" required>
            </div>
        </div>

        <label>Destination</label>
        <div class="form-group">
            <div class="col-md-1">
                <span class="add-on">  <i class="glyphicon glyphicon glyphicon-road  stat-icon"></i></span>

            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="ARG-AUG1" size="30"
                       ng-model="taskData.destination" id="tonnes" required>
            </div>
        </div>

        <button id="save" class="btn btn-primary" data-ng-click="save(taskData)">Create Data</button>
        <!--<button id="save" class="btn btn-primary" data-ng-click="save()">Create Data </button>-->


    </form>
    <!--<pre>taskData = {{taskData | json}}</pre>-->

        <div class="row">
            <div class="col-md-12">
                    <ul class="task-list list-unstyled">
                        <li data-ng-repeat="track in tracks | limitTo:-3 ">
                                    <span class="view">
                                        <!--<label>1 {{track}}</label>-->
                                        <!--<label>{{track.equipmentId}}</label>-->
                                        <!--  {"username": "dave", "equipmentId": "TR019", "measureCode" : "TONNE", "measureValue" : "45.6", "source" : "ARG-N35 A106", "destination" : "ARG-AUG1"}, -->
                                    </span>
                        </li>
                    </ul>

            </div>
        </div>




<div class="page page-tasks">
    <div class="row">
        <div class="col-md-12">
                <!--<pre>tracks = {{tracks | json | limitTo:3}}</pre>-->
                <ul class="task-list list-unstyled">
                    <li data-ng-repeat="track in tracks | limitTo:-4">
                                    <span class="view">
                                        <label>{{track}}</label>
                                        <label>{{track.equipmentId}}</label>
                                        <!--  {"username": "dave", "equipmentId": "TR019", "measureCode" : "TONNE", "measureValue" : "45.6", "source" : "ARG-N35 A106", "destination" : "ARG-AUG1"}, -->
                                    </span>
                    </li>
                </ul>
        </div>
    </div>
</div>

<!-- http://dotnetspeak.com/2013/05/combining-twitter-bootstrap-and-angular-validation -->
