Entry Events


<div class="page page-tasks">
    <div class="row">
        <div class="col-md-12">
            <section class="task-container" data-ng-controller="ChatCtrl">

                <div id="header">
                    <select ng-model="currentRoom" ng-change="setCurrentRoom(currentRoom)"
                            ng-options="r.name for r in rooms" id="roomSelect"></select>
                </div>

                rooms: {{ rooms }}
                messages: {{ msg }}

                <div id="chat">
                    <div class="{{msg.who}} msg" ng-repeat="msg in msgs | limitTo:-4">
                        <strong>{{msg.user}} says: </strong>{{msg.text}}<br/>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>


