



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>House Sitter's Frequently Asked Questions (FAQ)</h1>
            <p>This is where you can find out more information.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>About</h2>
                <p>The concept of housesitting: Homeowners can go away, usually over long periods and leave their home and pets in the trust of a housesitter.</p>
                <p>In exchange for their home being looked after, housesitters are able to live rent free.</p>
                <p>Both parties benefit in a number of ways not least financially. Just consider what the housesitter can save in rent (probably over A$200 per week) whilst the homeowner is also saving money as they dont have to pay expenses for pet housing (kennels/catteries).</p>
                <hr>
                <h2>Bond</h2>
                <p>In some cases a homeowner will ask for a bond to be paid before you stay. This is similar to a rental agreement where a letting agent / owner asks for a bond.</p>
                <p>It provides the homeowner with a better feeling of security.</p>
                <h3>Should I pay?</h3>
                <p>This is entirely up to you and you should discuss it with the home owner.</p>
                <h3>Reasonable Amount?</h3>
                <p>How much should the bond be?</p>
                <p>This will depend on a number of factors and again will need to be discussed individually for each sit. We would recomend that an amount equal to four weeks rent be paid, unless the sit is for less time, in which case it should be equal to the number of weeks present.</p>
                <p>A weeks rent can usually be determined by looking at like for like properties being rented in the area. For residents in Western Australia there is a useful website, REIWA that will allow you to obtain this type of information.</p>
                <h3>Who should i pay the bond to?</h3>
                <p>An impartial third party such as a solicitor or letting agency.</p>
                <!--  We will act as the impartial third part for a fee of $50, $25 payable by you and $25 by the homeowner -->
                <h3>What deductions can be taken from the Bond?</h3>
                <p>Unpaid bills, damages and breakages proven to be your fault.</p>
                <h3>What if the homeowner accuses me of something I havent done?</h3>
                <p>This is very unlikely. Most homeowners are grateful for the service you provide. In the event of a dispute the bond will be held by the third party until an agreement is reached. Independent legal advice may be required.</p>
                <h3>Should there be a detailed property report?</h3>
                <p>For rental properties the letting agent will normally write a detailed report on the property and provide photographs.</p>
                <p>We would say that a homeowner should be responsible for compiling such a report. They should include photos and condition details that is then viewed and signed by you.</p>
                <p>This is a lot of work and we leave it up to the homeowner as to whether they wish to do so.</p>
                <p>We believe that a homeowner may not find this necessary as they will only pick housesitters that they feel they can trust in the first place.</p>
            </div>
            <div class="col-md-4">
                <h2>Bills</h2>
                <h3>Who pays?</h3>
                <p>It is usually expected that the housesitter should pay for bills that would not otherwise cost the homeowner should the property have been left vacant. This will usually include items such as telephone usage (but not line rental), gas and electricity consumption etc.</p>
                <p>If a contract is created then it will clearly outline what you are and are not responsible for.</p>
                <h3>What if a bill turns up thats not mine?</h3>
                <p>Firstly the homeowner should attempt to pay all bills before leaving, however utility companies may not handle this correctly and a bill may still be sent whilst you are there.</p>
                <p>It is possible that a bill for previous usage is sent whilst you are in the house, for example last months phone bill. If this is the case then it is best to pay the bill and keep a record of it. When the homeowner returns you can resolve all the bills deducting what you have paid on the homeowners behalf.</p>
                <h3>Should I take meter readings?</h3>
                <p>Yes.</p>
                <p>When you arrive and start your sit you should record the date and readings on any meters such as for gas and electricity.</p>
                <p>This information will be essential to calculate the amounts owing</p>
                <h3>How do I know about telephone usage?</h3>
                <p>It is normally possible to determine the amount outstanding on the phone bill by phoning the telephone provider or checking online. This information should be recorded before the homeowner leaves.</p>
                <p>Once the homeowner returns you can determine the new cost of the telephone bill and deduct the original amount, leaving you to pay the difference.</p>
            </div>
             <div class="col-md-4">
                <h2>Contact Us</h2>
                <p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:info@housesittingangels.com.au">info@housesittingangels.com.au</a></p>

            </div>
        </div>

        <hr>

        <!-- HSAngels Content

        HouseSitting

About

The concept of housesitting: Homeowners can go away, usually over long periods and leave their home and pets in the trust of a housesitter.

In exchange for their home being looked after, housesitters are able to live rent free.

Both parties benefit in a number of ways not least financially. Just consider what the housesitter can save in rent (probably over A$200 per week) whilst the homeowner is also saving money as they dont have to pay expenses for pet housing (kennels/catteries).

Our Role

We provide a matching and guidance service, keeping you in control and informed of your options.

Contact Us

email

We handle enquries via email. You can email us at: info@housesittingangels.com.au

Bills

Who pays?

It is usually expected that the housesitter should pay for bills that would not otherwise cost the homeowner should the property have been left vacant. This will usually include items such as telephone usage (but not line rental), gas and electricity consumption etc.

If a contract is created then it will clearly outline what you are and are not responsible for.

What if a bill turns up thats not mine?

Firstly the homeowner should attempt to pay all bills before leaving, however utility companies may not handle this correctly and a bill may still be sent whilst you are there.

It is possible that a bill for previous usage is sent whilst you are in the house, for example last months phone bill. If this is the case then it is best to pay the bill and keep a record of it. When the homeowner returns you can resolve all the bills deducting what you have paid on the homeowners behalf.

Should I take meter readings?

Yes.

When you arrive and start your sit you should record the date and readings on any meters such as for gas and electricity.

This information will be essential to calculate the amounts owing.

How do I know about telephone usage?

It is normally possible to determine the amount outstanding on the phone bill by phoning the telephone provider or checking online. This information should be recorded before the homeowner leaves.

Once the homeowner returns you can determine the new cost of the telephone bill and deduct the original amount, leaving you to pay the difference.

Bond

In some cases a homeowner will ask for a bond to be paid before you stay. This is similar to a rental agreement where a letting agent / owner asks for a bond.

It provides the homeowner with a better feeling of security.

Should I pay?

This is entirely up to you and you should discuss it with the home owner.

Reasonable Amount?

How much should the bond be?

This will depend on a number of factors and again will need to be discussed individually for each sit. We would recomend that an amount equal to four weeks rent be paid, unless the sit is for less time, in which case it should be equal to the number of weeks present.

A weeks rent can usually be determined by looking at like for like properties being rented in the area. For residents in Western Australia there is a useful website, REIWA that will allow you to obtain this type of information.

Who should i pay the bond to?

An impartial third party such as a solicitor or letting agency.

We will act as the impartial third part for a fee of $50, $25 payable by you and $25 by the homeowner

What deductions can be taken from the Bond?

Unpaid bills, damages and breakages proven to be your fault.

What if the homeowner accuses me of something I havent done?

This is very unlikely. Most homeowners are grateful for the service you provide. In the event of a dispute the bond will be held by the third party until an agreement is reached. Independant legal advice may be required.

Should there be a detailed property report?

For rental properties the letting agent will normally write a detailed report on the property and provide photographs.

We would say that a homeowner should be responsible for compiling such a report. They should include photos and condition details that is then viewed and signed by you.

This is a lot of work and we leave it up to the homeowner as to whether they wish to do so.

We believe that a homeowner may not find this necessary as they will only pick housesitters that they feel they can trust in the first place.

My Account

Account Expiry

Q:What happens when my account runs out?

A:Your account expires, meaning that you will no longer appear in the search results. Your availability calendar will show that there is no time remaining.

You will no longer be able to make contact with new owners, though you will be able to make contact with owners you have previously stored in your contacts list.

To extend your account send us an email and we will update it for you.

HouseSittingAngels.com(.au)

About Us

We established the company in 2005, aiming to provide the best level of services for the lowest costs.


        -->




